# Assignment 3 - Pandas Data Analysis Practice

In [1]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [2]:
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x1d5b4cd9a50>)

Let's load the data from the CSV file into a Pandas data frame.

In [3]:
countries_df = pd.read_csv('countries.csv')

In [4]:
print(countries_df.to_string())

                             location      continent    population  life_expectancy  hospital_beds_per_thousand  gdp_per_capita
0                         Afghanistan           Asia  3.892834e+07            64.83                       0.500        1803.987
1                             Albania         Europe  2.877800e+06            78.57                       2.890       11803.431
2                             Algeria         Africa  4.385104e+07            76.88                       1.900       13913.839
3                             Andorra         Europe  7.726500e+04            83.73                         NaN             NaN
4                              Angola         Africa  3.286627e+07            61.15                         NaN        5819.495
5                            Anguilla  North America  1.500200e+04            81.88                         NaN             NaN
6                 Antigua and Barbuda  North America  9.792800e+04            77.02                       3.800       21490.943
7                           Argentina  South America  4.519578e+07            76.67                       5.000       18933.907
8                             Armenia           Asia  2.963234e+06            75.09                       4.200        8787.580
9                               Aruba  North America  1.067660e+05            76.29                         NaN       35973.781
10                          Australia        Oceania  2.549988e+07            83.44                       3.840       44648.710
11                            Austria         Europe  9.006400e+06            81.54                       7.370       45436.686
12                         Azerbaijan           Asia  1.013918e+07            73.00                       4.700       15847.419
13                            Bahamas  North America  3.932480e+05            73.92                       2.900       27717.847
14                            Bahrain           Asia  1.701583e+06            77.29                       2.000       43290.705
15                         Bangladesh           Asia  1.646894e+08            72.59                       0.800        3523.984
16                           Barbados  North America  2.873710e+05            79.19                       5.800       16978.068
17                            Belarus         Europe  9.449321e+06            74.79                      11.000       17167.967
18                            Belgium         Europe  1.158962e+07            81.63                       5.640       42658.576
19                             Belize  North America  3.976210e+05            74.62                       1.300        7824.362
20                              Benin         Africa  1.212320e+07            61.77                       0.500        2064.236
21                            Bermuda  North America  6.227300e+04            82.59                         NaN       50669.315
22                             Bhutan           Asia  7.716120e+05            71.78                       1.700        8708.597
23                            Bolivia  South America  1.167303e+07            71.51                       1.100        6885.829
24    Bonaire Sint Eustatius and Saba  North America  2.622100e+04            77.79                         NaN             NaN
25             Bosnia and Herzegovina         Europe  3.280815e+06            77.40                       3.500       11713.895
26                           Botswana         Africa  2.351625e+06            69.59                       1.800       15807.374
27                             Brazil  South America  2.125594e+08            75.88                       2.200       14103.452
28             British Virgin Islands  North America  3.023700e+04            79.07                         NaN             NaN
29                             Brunei           Asia  4.374830e+05            75.86                       2.700       71809.251
30                           Bulgaria         Europe  6.948445e+06            75.05                       7.454       18563.307
31                       Burkina Faso         Africa  2.090328e+07            61.58                       0.400        1703.102
32                            Burundi         Africa  1.189078e+07            61.58                       0.800         702.225
33                           Cambodia           Asia  1.671897e+07            69.82                       0.800        3645.070
34                           Cameroon         Africa  2.654586e+07            59.29                       1.300        3364.926
35                             Canada  North America  3.774216e+07            82.43                       2.500       44017.591
36                         Cape Verde         Africa  5.559880e+05            72.98                       2.100        6222.554
37                     Cayman Islands  North America  6.572000e+04            83.92                         NaN       49903.029
38           Central African Republic         Africa  4.829764e+06            53.28                       1.000         661.240
39                               Chad         Africa  1.642586e+07            54.24                         NaN        1768.153
40                              Chile  South America  1.911621e+07            80.18                       2.110       22767.037
41                              China           Asia  1.439324e+09            76.91                       4.340       15308.712
42                           Colombia  South America  5.088288e+07            77.29                       1.710       13254.949
43                            Comoros         Africa  8.695950e+05            64.32                       2.200        1413.890
44                              Congo         Africa  5.518092e+06            64.57                         NaN        4881.406
45                         Costa Rica  North America  5.094114e+06            80.28                       1.130       15524.995
46                      Cote d'Ivoire         Africa  2.637828e+07            57.78                         NaN        3601.006
47                            Croatia         Europe  4.105268e+06            78.49                       5.540       22669.797
48                               Cuba  North America  1.132662e+07            78.80                       5.200             NaN
49                            Curacao  North America  1.641000e+05            78.88                         NaN             NaN
50                             Cyprus         Europe  8.758990e+05            80.98                       3.400       32415.132
51                     Czech Republic         Europe  1.070898e+07            79.38                       6.630       32605.906
52       Democratic Republic of Congo         Africa  8.956140e+07            60.68                         NaN         808.133
53                            Denmark         Europe  5.792203e+06            80.90                       2.500       46682.515
54                           Djibouti         Africa  9.880020e+05            67.11                       1.400        2705.406
55                           Dominica  North America  7.199100e+04            75.00                       3.800        9673.367
56                 Dominican Republic  North America  1.084790e+07            74.08                       1.600       14600.861
57                            Ecuador  South America  1.764306e+07            77.01                       1.500       10581.936
58                              Egypt         Africa  1.023344e+08            71.99                       1.600       10550.206
59                        El Salvador  North America  6.486201e+06            73.32                       1.300        7292.458
60                  Equatorial Guinea         Africa  1.402985e+06            58.74                       2.100       22604.873
61                            Eritrea         Africa  3.546427e+06            66.32                       0.700        1510.459
62                            Estonia         Europe  1.326539e+06            78.74                       4.690       29481.252
63                           Ethiopia         Africa  1.149636e+08            66.60                       0.300        1729.927
64                     Faeroe Islands         Europe  4.886500e+04            80.67                         NaN             NaN
65                   Falkland Islands  South America  3.483000e+03            81.44                         NaN             NaN
66                               Fiji        Oceania  8.964440e+05            67.44                       2.300        8702.975
67                            Finland         Europe  5.540718e+06            81.91                       3.280       40585.721
68                             France         Europe  6.527351e+07            82.66                       5.980       38605.671
69                   French Polynesia        Oceania  2.809040e+05            77.66                         NaN             NaN
70                              Gabon         Africa  2.225728e+06            66.47                       6.300       16562.413
71                             Gambia         Africa  2.416664e+06            62.05                       1.100        1561.767
72                            Georgia           Asia  3.989175e+06            73.77                       2.600        9745.079
73                            Germany         Europe  8.378394e+07            81.33                       8.000       45229.245
74                              Ghana         Africa  3.107294e+07            64.07                       0.900        4227.630
75                          Gibraltar         Europe  3.369100e+04            79.93                         NaN             NaN
76                             Greece         Europe  1.042306e+07            82.24                       4.210       24574.382
77                          Greenland  North America  5.677200e+04            71.70                         NaN             NaN
78                            Grenada  North America  1.125190e+05            72.40                       3.700       13593.877
79                               Guam        Oceania  1.687830e+05            80.07                         NaN             NaN
80                          Guatemala  North America  1.791557e+07            74.30                       0.600        7423.808
81                           Guernsey         Europe  6.705200e+04              NaN                         NaN             NaN
82                             Guinea         Africa  1.313279e+07            61.60                       0.300        1998.926
83                      Guinea-Bissau         Africa  1.967998e+06            58.32                         NaN        1548.675
84                             Guyana  South America  7.865590e+05            69.91                       1.600        7435.047
85                              Haiti  North America  1.140253e+07            64.00                       0.700        1653.173
86                           Honduras  North America  9.904608e+06            75.27                       0.700        4541.795
87                          Hong Kong           Asia  7.496988e+06            84.86                         NaN       56054.920
88                            Hungary         Europe  9.660350e+06            76.88                       7.020       26777.561
89                            Iceland         Europe  3.412500e+05            82.99                       2.910       46482.958
90                              India           Asia  1.380004e+09            69.66                       0.530        6426.674
91                          Indonesia           Asia  2.735236e+08            71.72                       1.040       11188.744
92                               Iran           Asia  8.399295e+07            76.68                       1.500       19082.620
93                               Iraq           Asia  4.022250e+07            70.60                       1.400       15663.986
94                            Ireland         Europe  4.937796e+06            82.30                       2.960       67335.293
95                        Isle of Man         Europe  8.503200e+04            81.40                         NaN             NaN
96                             Israel           Asia  8.655541e+06            82.97                       2.990       33132.320
97                              Italy         Europe  6.046183e+07            83.51                       3.180       35220.084
98                            Jamaica  North America  2.961161e+06            74.47                       1.700        8193.571
99                              Japan           Asia  1.264765e+08            84.63                      13.050       39002.223
100                            Jersey         Europe  1.010730e+05              NaN                         NaN             NaN
101                            Jordan           Asia  1.020314e+07            74.53                       1.400        8337.490
102                        Kazakhstan           Asia  1.877671e+07            73.60                       6.700       24055.588
103                             Kenya         Africa  5.377130e+07            66.70                       1.400        2993.028
104                            Kosovo         Europe  1.932774e+06              NaN                         NaN        9795.834
105                            Kuwait           Asia  4.270563e+06            75.49                       2.000       65530.537
106                        Kyrgyzstan           Asia  6.524191e+06            71.45                       4.500        3393.474
107                              Laos           Asia  7.275556e+06            67.92                       1.500        6397.360
108                            Latvia         Europe  1.886202e+06            75.29                       5.570       25063.846
109                           Lebanon           Asia  6.825442e+06            78.93                       2.900       13367.565
110                           Lesotho         Africa  2.142252e+06            54.33                         NaN        2851.153
111                           Liberia         Africa  5.057677e+06            64.10                       0.800         752.788
112                             Libya         Africa  6.871287e+06            72.91                       3.700       17881.509
113                     Liechtenstein         Europe  3.813700e+04            82.49                       2.397             NaN
114                         Lithuania         Europe  2.722291e+06            75.93                       6.560       29524.265
115                        Luxembourg         Europe  6.259760e+05            82.25                       4.510       94277.965
116                         Macedonia         Europe  2.083380e+06            75.80                       4.280       13111.214
117                        Madagascar         Africa  2.769102e+07            67.04                       0.200        1416.440
118                            Malawi         Africa  1.912996e+07            64.26                       1.300        1095.042
119                          Malaysia           Asia  3.236600e+07            76.16                       1.900       26808.164
120                          Maldives           Asia  5.405420e+05            78.92                         NaN       15183.616
121                              Mali         Africa  2.025083e+07            59.31                       0.100        2014.306
122                             Malta         Europe  4.415390e+05            82.53                       4.485       36513.323
123                        Mauritania         Africa  4.649660e+06            64.92                         NaN        3597.633
124                         Mauritius         Africa  1.271767e+06            74.99                       3.400       20292.745
125                            Mexico  North America  1.289328e+08            75.05                       1.380       17336.469
126                           Moldova         Europe  4.033963e+06            71.90                       5.800        5189.972
127                            Monaco         Europe  3.924400e+04            86.75                      13.800             NaN
128                          Mongolia           Asia  3.278292e+06            69.87                       7.000       11840.846
129                        Montenegro         Europe  6.280620e+05            76.88                       3.861       16409.288
130                        Montserrat  North America  4.999000e+03            74.16                         NaN             NaN
131                           Morocco         Africa  3.691056e+07            76.68                       1.100        7485.013
132                        Mozambique         Africa  3.125544e+07            60.85                       0.700        1136.103
133                           Myanmar           Asia  5.440979e+07            67.13                       0.900        5591.597
134                           Namibia         Africa  2.540916e+06            63.71                         NaN        9541.808
135                             Nepal           Asia  2.913681e+07            70.78                       0.300        2442.804
136                       Netherlands         Europe  1.713487e+07            82.28                       3.320       48472.545
137                     New Caledonia        Oceania  2.854910e+05            77.55                         NaN             NaN
138                       New Zealand        Oceania  4.822233e+06            82.29                       2.610       36085.843
139                         Nicaragua  North America  6.624554e+06            74.48                       0.900        5321.444
140                             Niger         Africa  2.420664e+07            62.42                       0.300         926.000
141                           Nigeria         Africa  2.061396e+08            54.69                         NaN        5338.454
142          Northern Mariana Islands        Oceania  5.755700e+04            76.74                         NaN             NaN
143                            Norway         Europe  5.421242e+06            82.40                       3.600       64800.057
144                              Oman           Asia  5.106622e+06            77.86                       1.600       37960.709
145                          Pakistan           Asia  2.208923e+08            67.27                       0.600        5034.708
146                         Palestine           Asia  5.101416e+06            74.05                         NaN        4449.898
147                            Panama  North America  4.314768e+06            78.51                       2.300       22267.037
148                  Papua New Guinea        Oceania  8.947027e+06            64.50                         NaN        3823.194
149                          Paraguay  South America  7.132530e+06            74.25                       1.300        8827.010
150                              Peru  South America  3.297185e+07            76.74                       1.600       12236.706
151                       Philippines           Asia  1.095811e+08            71.23                       1.000        7599.188
152                            Poland         Europe  3.784660e+07            78.73                       6.620       27216.445
153                          Portugal         Europe  1.019671e+07            82.05                       3.390       27936.896
154                       Puerto Rico  North America  2.860840e+06            80.10                         NaN       35044.670

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [5]:
num_countries = countries_df['location'].shape

In [6]:
num_countries

(210,)

In [7]:
print('There are {} countries in the dataset'.format(num_countries))

There are (210,) countries in the dataset

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [8]:
continents = countries_df['continent'].unique

In [9]:
continents

<bound method Series.unique of 0        Asia
1      Europe
2      Africa
3      Europe
4      Africa
        ...
205      Asia
206    Africa
207      Asia
208    Africa
209    Africa
Name: continent, Length: 210, dtype: object>

**Q3: What is the total population of all the countries listed in this dataset?**

In [10]:
total_population = countries_df['population'].sum()

In [11]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [12]:
weighted_expectancy = countries_df.population * countries_df.life_expectancy

In [13]:

weight_sum = weighted_expectancy.sum()

In [14]:

weight_sum

564173128180.24

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [15]:
most_populous_df = countries_df.sort_values('population',ascending=False).head(10)['location']

In [16]:
most_populous_df

41             China
90             India
199    United States
91         Indonesia
145         Pakistan
27            Brazil
141          Nigeria
15        Bangladesh
157           Russia
125           Mexico
Name: location, dtype: object

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [17]:
countries_df['gdp'] = countries_df['population']*countries_df['gdp_per_capita']

In [18]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [19]:
lowgdp=countries_df[countries_df['population']>100000000].sort_values('gdp_per_capita').head(10)['location']

In [20]:
lowgdp

63        Ethiopia
15      Bangladesh
145       Pakistan
141        Nigeria
90           India
151    Philippines
58           Egypt
91       Indonesia
27          Brazil
41           China
Name: location, dtype: object

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [21]:
country_counts_df = countries_df.groupby('continent')['location'].count()

In [22]:
country_counts_df

continent
Africa           55
Asia             47
Europe           51
North America    36
Oceania           8
South America    13
Name: location, dtype: int64

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [23]:
continent_populations_df = countries_df.groupby('continent')['population'].sum()

In [24]:
continent_populations_df

continent
Africa           1.339424e+09
Asia             4.607388e+09
Europe           7.485062e+08
North America    5.912425e+08
Oceania          4.095832e+07
South America    4.304611e+08
Name: population, dtype: float64

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [25]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x1d5b4cdaa10>)

In [26]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [27]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [28]:
total_tests_missing = covid_data_df['total_tests'].isna().sum()

In [29]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [30]:
combined_df = countries_df.merge(covid_data_df,on='location')

In [31]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,766.0,1.0,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [32]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [33]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [34]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [35]:
combined_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,38243.0,1409.0,NaN,NaN,982.394806,36.194710
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,9728.0,296.0,NaN,NaN,3380.359997,102.856349
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,45158.0,1525.0,NaN,NaN,1029.804468,34.776824
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN,NaN,15518.022390,685.950948
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,2729.0,109.0,NaN,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,1046.0,35.0,261004.0,2681.403324,10.745996,0.359570
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN,766.0,1.0,NaN,NaN,1282.373228,1.674116
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,1976.0,571.0,NaN,NaN,66.250993,19.144391
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,12415.0,292.0,NaN,NaN,675.317108,15.883415
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6638.0,206.0,97272.0,6544.605918,446.614587,13.859989

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [36]:
highest_tests_df = combined_df.sort_values('tests_per_million',ascending=False).head(10)

In [37]:
highest_tests_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
197,United Arab Emirates,Asia,9890400.0,77.97,1.200,67293.483,6.655595e+11,71540.0,387.0,7177430.0,725696.635121,7233.276713,39.128852
14,Bahrain,Asia,1701583.0,77.29,2.000,43290.705,7.366273e+10,52440.0,190.0,1118837.0,657527.137965,30818.361490,111.660730
115,Luxembourg,Europe,625976.0,82.25,4.510,94277.965,5.901574e+10,7928.0,124.0,385820.0,616349.508607,12665.022301,198.090662
122,Malta,Europe,441539.0,82.53,4.485,36513.323,1.612206e+10,1931.0,13.0,188539.0,427004.183096,4373.339614,29.442473
53,Denmark,Europe,5792203.0,80.90,2.500,46682.515,2.703946e+11,17195.0,626.0,2447911.0,422621.755488,2968.645954,108.076323
96,Israel,Asia,8655541.0,82.97,2.990,33132.320,2.867782e+11,122539.0,969.0,2353984.0,271962.665303,14157.289533,111.951408
89,Iceland,Europe,341250.0,82.99,2.910,46482.958,1.586231e+10,2121.0,10.0,88829.0,260304.761905,6215.384615,29.304029
157,Russia,Europe,145934460.0,72.58,8.050,24765.954,3.614206e+12,1005000.0,17414.0,37176827.0,254750.159763,6886.653091,119.327539
199,United States,North America,331002647.0,78.86,2.770,54225.446,1.794877e+13,6114406.0,185744.0,83898416.0,253467.507769,18472.377957,561.155633
10,Australia,Oceania,25499881.0,83.44,3.840,44648.710,1.138537e+12,25923.0,663.0,6255797.0,245326.517406,1016.592979,26.000121

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [38]:
highest_cases_df = combined_df.sort_values('cases_per_million',ascending=False).head(10)

In [39]:
highest_cases_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
155,Qatar,Asia,2881060.0,80.23,1.20,116935.600,3.368985e+11,119206.0,199.0,634745.0,220316.480740,41375.743650,69.071800
14,Bahrain,Asia,1701583.0,77.29,2.00,43290.705,7.366273e+10,52440.0,190.0,1118837.0,657527.137965,30818.361490,111.660730
147,Panama,North America,4314768.0,78.51,2.30,22267.037,9.607710e+10,94084.0,2030.0,336345.0,77952.047480,21805.112117,470.477208
40,Chile,South America,19116209.0,80.18,2.11,22767.037,4.352194e+11,414739.0,11344.0,2458762.0,128621.841287,21695.671982,593.423100
162,San Marino,Europe,33938.0,84.97,3.80,56861.470,1.929765e+09,735.0,42.0,NaN,NaN,21657.139490,1237.550828
9,Aruba,North America,106766.0,76.29,NaN,35973.781,3.840777e+09,2211.0,12.0,NaN,NaN,20708.839893,112.395332
105,Kuwait,Asia,4270563.0,75.49,2.00,65530.537,2.798523e+11,86478.0,535.0,621616.0,145558.325682,20249.789079,125.276222
150,Peru,South America,32971846.0,76.74,1.60,12236.706,4.034668e+11,663437.0,29259.0,584232.0,17719.117092,20121.318048,887.393445
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12,3997865.0,123780.0,4797948.0,22572.268255,18808.224105,582.331314
199,United States,North America,331002647.0,78.86,2.77,54225.446,1.794877e+13,6114406.0,185744.0,83898416.0,253467.507769,18472.377957,561.155633

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [40]:
highest_deaths_df = combined_df.sort_values('deaths_per_million',ascending=False).head(10)

In [41]:
highest_deaths_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,total_cases,total_deaths,total_tests,tests_per_million,cases_per_million,deaths_per_million
162,San Marino,Europe,33938.0,84.97,3.80,56861.470,1.929765e+09,735.0,42.0,NaN,NaN,21657.139490,1237.550828
150,Peru,South America,32971846.0,76.74,1.60,12236.706,4.034668e+11,663437.0,29259.0,584232.0,17719.117092,20121.318048,887.393445
18,Belgium,Europe,11589616.0,81.63,5.64,42658.576,4.943965e+11,85817.0,9898.0,2281853.0,196887.713967,7404.645676,854.040375
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN,1199.0,53.0,NaN,NaN,15518.022390,685.950948
177,Spain,Europe,46754783.0,83.56,2.97,34272.360,1.602397e+12,479554.0,29194.0,6416533.0,137238.001939,10256.790198,624.406705
198,United Kingdom,Europe,67886004.0,81.32,2.54,39753.244,2.698689e+12,338676.0,41514.0,13447568.0,198090.434075,4988.892850,611.525168
40,Chile,South America,19116209.0,80.18,2.11,22767.037,4.352194e+11,414739.0,11344.0,2458762.0,128621.841287,21695.671982,593.423100
97,Italy,Europe,60461828.0,83.51,3.18,35220.084,2.129471e+12,271515.0,35497.0,5214766.0,86248.897403,4490.684602,587.097697
27,Brazil,South America,212559409.0,75.88,2.20,14103.452,2.997821e+12,3997865.0,123780.0,4797948.0,22572.268255,18808.224105,582.331314
182,Sweden,Europe,10099270.0,82.80,2.22,46949.283,4.741535e+11,84532.0,5820.0,NaN,NaN,8370.109919,576.279276